nav {
  border-bottom: 1.5px solid #e6e6e6;
  .telephone {
    color: #999;

    .telephone-icon {
      display: none;
    }

    i {
      margin-left: 16px;
      margin-right: 8px;
      transform: scaleX(-1);
    }

    .telephone-message {
      a {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}

.greetings {
  margin-top: 5%;
  text-align: center;
  font-family: Noto Serif;

  h2 {
    font-size: 30px;
    font-weight: 400;
  }

  p {
    color: #666;
  }
}

.summary {
  margin-top: 64px;
  border: 1.5px solid #e6e6e6;

  .summary-header {
    padding: 32px;
  }

  .summary-details {
    padding-left: 32px;
    .label {
      text-transform: uppercase;
      color: #aaa;
      font-size: 12px;
      font-weight: 600;
    }

    .input-value {
      font-weight: 600;
    }
  }

  .btn-warning {
    border-bottom: 2px solid #e5a701;
    background-color: #feb901;
    color: #fff;
    padding: 0 16px;
    font-weight: 500;
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
  }

  .download-section {
    text-align: right;
  }
}
