@media screen and(max-width: 360px) {
  nav {
    .telephone {
      .telephone-icon {
        display: inline;
        font-size: 24px;
        vertical-align: middle;
        color: #999;
      }

      .telephone-message {
        display: none;
      }
    }
  }

  .greetings {
    margin-top: 12%;
    .secondary-greetings {
      display: none;
    }
  }

  .summary {
    margin-top: 32px;
    border: inherit;
    text-align: center;

    .responsive-image {
      width: 100%;
    }

    .summary-details {
      text-align: left;
      padding-left: 12px;
      margin: 24px 0;
    }

    .download-section {
      text-align: center;
    }
  }
}
